body {
	background: var(--body-bg);
	color: var(--black-2);
}

.post {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
}

.content {
	flex: 4;
	font-size: 0.9rem;
	height: fit-content;
	line-height: 1.4211;
	font-weight: 400;
	letter-spacing: 0.012em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
@media screen and (max-width: 800px) {
	.content {
		margin-left: 12px;
		margin-right: 12px;
	}
}

.hero-header {
	position: relative;
	width: 100%;
}
.hero-header .hero-image {
	border-radius: 0;
	margin-bottom: 30px;
	max-height: 30vh;
	object-fit: cover;
	width: 100%;
}

.content p,
.content center,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.meta .categories,
.meta .date,
.content figure,
/* only `.content>pre`, do not include <pre /> in <figure /> */
.content>pre,
.divider,
.container,
hr,
.meta .title,
.meta .byline,
.toc,
.content blockquote,
.content table,
.content video,
.content ul,
.content ol,
.content > mjx-container,
.content > .katex,
.content .table-of-contents,
.about {
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
}

.content p img,
.content .block-large img {
	border-radius: 10px;
	max-width: 100%;
}

.content table,
.content video {
	display: block;
}

.content table {
	padding: 0;
	border-collapse: collapse;
	border-radius: 15px;
	overflow-x: auto;
}

.content table tr {
	background-color: var(--card-bg);
}

.content table tr:nth-child(even) {
	background-color: transparent;
}

.content table th,
.content table td {
	margin: 0;
	padding: 6px 12px;
}

.content table th {
	border-bottom: 1px solid var(--border-color);
}

.content table thead tr th:first-child {
	border-top-left-radius: 15px;
}

.content table thead tr th:last-child {
	border-top-right-radius: 15px;
}

.content table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 15px;
}

.content table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 15px;
}

@media screen and (max-width: 800px) {
	.content table thead tr th:first-child,
	.content table thead tr th:last-child,
	.content table tbody tr:last-child td:first-child,
	.content table tbody tr:last-child td:last-child {
		border-radius: 0;
	}
}

.content video {
	max-width: 100%;
	padding: 0;
}

.content .highlight,
.content > pre {
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--card-bg);
	border-radius: 15px;
	max-width: calc(800px - 16px * 2);
}

@media screen and (max-width: 800px) {
	.content .highlight,
	.content > pre {
		border-radius: 0;
	}
}

.content .highlight * {
	border: none;
}

.content .highlight .gutter {
	padding-right: 16px;
}

.content > pre {
	max-width: calc(800px - 24px * 2);
	padding: 20px 24px;
}

.content > pre > code {
	background-color: transparent;
}

.content ul,
.content ol {
	padding: 0 16px;
	list-style-position: inside;
}
@media screen and (max-width: 750px) {
	.content ul,
	.content ol {
		list-style-position: inside;
	}
}

.content blockquote {
	max-width: calc(800px - 16px * 2);
	padding: 0 8px;
}

/* for [hexo-math](https://github.com/hexojs/hexo-math): */
.content > mjx-container,
.content > .katex {
	display: block;
	text-align: center;
}

.content .carousel {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
.content .carousel-card {
	background: var(--body-bg);
	border: solid 1px rgba(255, 255, 255, 0.15);
	border-radius: 6px;
	display: block;
	margin: 12px 300px;
	min-width: 300px;
	scroll-snap-align: start;
	padding: 24px;
	width: 800px;
}

.content > h1 {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 12px;
}

.content > h2 {
	font-size: 1.8rem;
	font-weight: 800;
	margin-bottom: 12px;
	margin-top: 45px;
}

.content > h3 {
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 12px;
	margin-top: 30px;
}

.content > h4 {
	font-size: 1.4rem;
	font-weight: 500;
	margin-bottom: 12px;
}

.content > h5 {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 12px;
}

.content > h6 {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 12px;
}

.table-of-contents {
	margin: 30px auto;
}
.table-of-contents-inner {
	padding: 0;
}
.table-of-contents-title {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0;
}
#table-of-contents-list {
	padding-bottom: 0;
}

.gutter {
	flex: 0.5;
}

.alert {
	border-radius: 6px;
	display: block;
	flex-direction: row;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	max-width: 610px;
	padding: 9px;
}
/* alert colors */
.alert-default {
	background: rgb(196, 223, 255);
	border: solid 1px rgb(100, 173, 255);
}
.alert-yellow {
	background: rgb(253, 255, 196);
	border: solid 1px rgb(210, 218, 0);
}
.alert-red {
	background: rgb(255, 196, 196);
	border: solid 1px rgb(255, 100, 100);
}

.alert-inner {
	align-items: start;
	display: flex;
	flex-direction: row;
}
.alert-icon {
	color: rgb(0, 120, 255);
	flex: 0.5;
	font-size: 2.5rem;
	padding: 0 6px;
	text-align: center;
}
.alert-gutter {
	flex: 0.15;
}
.alert-copy {
	display: flex;
	flex: 9;
	flex-direction: column;
}
.alert-copy-title {
	color: black;
	font-weight: bold;
}
.alert-copy-body {
	color: rgba(0, 0, 0, 0.75);
	font-size: 0.75rem;
}

.meta {
	align-items: center;
	flex: 2;
	font-size: 12px;
	min-height: calc(100vh - 55px);
	position: sticky;
	top: 50px;
}

.meta p.meta-text {
	position: sticky;
	top: 124px;
}

.meta .categories {
	color: var(--link);
	margin-bottom: 6px;
	font-weight: 600;
}

.meta .categories a {
	font-size: 13px;
	margin-right: 6px;
	text-decoration: none;
}

.meta .date {
	color: var(--grey);
	font-weight: 600;
}

body[data-color-scheme="auto"] .tags .icon {
	background-image: url(/theme-img/tags-dark.svg);
}

@media (prefers-color-scheme: dark) {
	body[data-color-scheme="auto"] .tags .icon {
		background-image: url(/theme-img/tags-light.svg);
	}
}

body[data-color-scheme="dark"] .tags .icon {
	background-image: url(/theme-img/tags-light.svg);
}

.tags .tag {
	font-size: 14px;
	display: block;
	height: 14px;
	margin-right: 4px;
}

.about {
	border-radius: 7px;
	background-color: var(--card-bg);
	max-width: calc(800px - 16px * 2);
	padding: 16px;
	margin: 64px auto;
}

@media screen and (max-width: 800px) {
	.about {
		border-radius: 0;
	}
}

.about h1 {
	margin: 0;
}

.about .details {
	margin: 16px 0;
}

.about .details p {
	margin: 6px 0;
}

.post-prev-next {
	display: flex;
	justify-content: space-between;
}

.post-prev-next > a {
	width: 50%;
	color: var(--black-4);
	text-decoration: none;
}

.post-prev-next > a:hover {
	color: var(--black-2);
}

.post-prev-next > a > div {
	display: flex;
}

.post-prev-next .text {
	display: flex;
	flex-direction: column;
}

.post-prev-next .prev > div {
	justify-content: flex-end;
	text-align: right;
}

.post-prev-next .prev .text {
	align-items: flex-end;
}

.post-prev-next .text * {
	margin: 0;
}

.post-prev-next .text .label {
	margin-bottom: 4px;
	color: var(--grey);
}
